aws_region  = "eu-west-2"
project     = "url-demo-project"
environment = "production"
db_password = "change-me-before-applying"
alert_email = "your@email.com"
root_domain = "hamsa-ahmed.co.uk"
subdomain   = "url.hamsa-ahmed.co.uk"
github_org  = "HamsaHAhmed7"
github_repo = "url-demo-project"
